site_name: FTC Banana Box 16169
site_url: https://www.ftcbananabox.com
repo_name: MrWansBoxes/BananaBox16169.github.io
repo_url: https://github.com/MrWansBoxes/BananaBox16169.github.io
edit_uri: docs/src/doc

theme:
  name: material
  custom_dir: mkdocs-customizations/overrides
  palette:
    # Default dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to light mode

    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode

    # System preference (dark)
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-auto
        name: Switch to system preference

  logo: assets/img/BananaBoxLogo.png
  favicon: assets/img/logo.png
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - announce.dismiss
    - navigation.footer
    - navigation.tabs
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
nav:
  - Home:
      - Welcome: index.md
  - Robot:
      - Robot Design: RobotDesign.md
      - Robot Strategy: RobotStrategy.md
      - Beta Testing: BetaTesting.md
  - Program:
      - Launcher Math: LauncherMath.md
      - Pedro Pathing: PedroPathing.md
  - Outreach:
      - Community Outreach: CommunityOutreach.md
      - FIRST Outreach: FIRSTOutreach.md
      - Sustainability Plan: SustainabilityPlan.md
  - Fundraising & Mentorship:
      - Fundraising: Fundraising.md
      - Mentorship: Mentorship.md
  - Awards:
      - Awards: Awards.md



markdown_extensions:
  - pymdownx.critic
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - attr_list
  - mkdocs-click
  - toc:
      permalink: "#"
plugins:
  - search
  - markdownextradata
  - include-markdown
  - mkdocstrings:
      default_handler: python

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MrWansBoxes/BananaBox16169.github.io
